:root {
  --main-color: rgb(245, 245, 245);
  --secondary-color: rgb(74, 74, 75);
  --major-font: "Kdam Thmor Pro", sans-serif;
  --secondary-font: monospace;
}
body {
  background: linear-gradient(to right, #868f96 0%, #596164 100%);
  text-align: center;
  margin: 0 0 20px;
}
.navbar-brand,
.nav-link {
  font-family: var(--major-font);
  font-weight: bold;
}
.navbar-brand {
  font-size: 25px;
}
.nav-link {
  font-size: 20px;
}
.head-container {
  margin: 250px 30px 200px;
}
.main-content {
  margin: 120px 10px 50px;
}
.main-content-contact {
  margin: 120px 20px 120px;
}
h3 {
  font-family: var(--secondary-font);
  font-size: 30px;
  color: var(--secondary-color);
  font-weight: bold;
}
h4 {
  font-family: var(--major-font);
  font-size: 25px;
  color: var(--secondary-color);
  font-weight: bold;
}
h1 {
  font-family: var(--major-font);
  font-size: 50px;
  font-weight: bold;
  color: var(--main-color);
}
.button {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}
.contact {
  font-family: var(--secondary-font);
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  border: 2px solid var(--secondary-color);
  border-radius: 25px;
  color: var(--main-color);
  background: var(--secondary-color);
}
.contact:hover {
  transition: all 150ms ease-in-out;
  color: var(--secondary-color);
  background: var(--main-color);
}
.name-app {
  font-family: var(--major-font);
  font-size: 30px;
  font-weight: bold;
  color: var(--secondary-color);
}
.more-info {
  margin: 40px 20px;
}
.launch-app {
  font-family: var(--secondary-font);
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  border: 2px solid var(--secondary-color);
  border-radius: 25px;
  color: var(--main-color);
  background: var(--secondary-color);
}
.launch-app:hover {
  transition: all 150ms ease-in-out;
  color: var(--secondary-color);
  background: var(--main-color);
}
p,
.tech-stack {
  font-family: var(--secondary-font);
  font-size: 20px;
  color: var(--main-color);
  text-align: justify;
}
.title-tech-stack {
  font-weight: 900;
  color: var(--secondary-color);
  font-family: var(--major-font);
  font-size: 20px;
}
.tech-stack {
  font-weight: 900;
}
.social-links {
  font-family: var(--secondary-font);
  font-size: 25px;
  font-weight: bolder;
  text-decoration: none;
  color: var(--main-color);
  transition: all 100ms ease-in-out;
}
.social-links:hover {
  color: var(--secondary-color);
}
.workshop {
  text-decoration: none;
  font-family: var(--major-font);
  font-size: 20px;
  font-weight: 900;
  color: var(--secondary-color);
}
.workshop:hover {
  color: var(--main-color);
}
footer {
  margin: 100px 150px 30px;
}
.repository {
  margin: 20px 0 30px;
}
.repository-link {
  font-family: var(--major-font);
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  color: var(--main-color);
  transition: all 100ms ease-in-out;
}
.repository-link:hover {
  color: var(--secondary-color);
}
@media (max-width: 576px) {
  .navbar-brand {
    font-size: 22px;
  }
  .nav-link {
    font-size: 18px;
  }
  .head-container {
    margin: 110px 10px 40px;
  }
  .main-content {
    margin: 110px 10px 30px;
  }
  .main-content-contact {
    margin: 110px 20px 110px;
  }
  h3 {
    font-size: 30px;
  }
  h1 {
    font-size: 40px;
  }
  .button {
    margin: 30px 0;
  }
  .contact {
    font-size: 20px;
  }
  .name-app {
    font-size: 25px;
  }
  .launch-app {
    font-size: 15px;
    margin: 10px 20px 20px;
  }
  p,
  .title-tech-stack,
  .tech-stack,
  .workshop {
    font-size: 18px;
  }
  .tech-stack {
    font-size: 18px;
  }
  footer {
    margin: 50px 80px 30px;
  }
}
