:root {
  --main-color: rgb(245, 245, 245);
  --secondary-color: rgb(74, 74, 75);
  --major-font: "Kdam Thmor Pro", sans-serif;
  --secondary-font: monospace;
}
body {
  background: linear-gradient(to right, #868f96 0%, #596164 100%);
  text-align: center;
  margin: 0 0 20px;
}
.navbar-brand,
.nav-link {
  font-family: var(--major-font);
  font-weight: bold;
}
.head-container {
  margin: 200px 30px;
}
h3 {
  font-family: var(--secondary-font);
  font-size: 30px;
  color: var(--secondary-color);
  font-weight: bold;
}
h4 {
  font-family: var(--major-font);
  font-size: 25px;
  color: var(--secondary-color);
  font-weight: bold;
}
h1 {
  font-family: var(--major-font);
  font-size: 50px;
  font-weight: bold;
  color: var(--main-color);
}
.button {
  display: flex;
  justify-content: center;
}
.contact {
  font-family: var(--secondary-font);
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  border: 2px solid var(--secondary-color);
  border-radius: 25px;
  color: var(--main-color);
  background: var(--secondary-color);
}
.contact:hover {
  transition: all 150ms ease-in-out;
  color: var(--secondary-color);
  background: var(--main-color);
}
.name-app {
  font-family: var(--major-font);
  font-size: 30px;
  font-weight: bold;
  color: var(--secondary-color);
}
.launch-app {
  font-family: var(--secondary-font);
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  border: 2px solid var(--secondary-color);
  border-radius: 25px;
  color: var(--main-color);
  background: var(--secondary-color);
  margin: 20px 20px;
}
.launch-app:hover {
  transition: all 150ms ease-in-out;
  color: var(--secondary-color);
  background: var(--main-color);
}
p {
  font-family: var(--secondary-font);
  font-size: 20px;
  text-align: justify;
  color: var(--main-color);
}
.main-content {
  margin: 100px 20px;
}
.main-content-contact {
  margin: 100px 20px 50px;
}
.email {
  font-family: var(--secondary-font);
  font-size: 25px;
  font-weight: bolder;
  text-decoration: none;
  color: var(--main-color);
}
.email:hover {
  color: var(--secondary-color);
}
@media (max-width: 576px) {
  .head-container {
    margin: 50px 10px;
  }
  h3 {
    font-size: 30px;
  }
  h1 {
    font-size: 40px;
  }
  .contact {
    font-size: 20px;
  }
  .name-app {
    font-size: 25px;
  }
  .launch-app {
    font-size: 15px;
    margin: 10px 20px 20px;
  }
  p {
    font-size: 18px;
  }
  .main-content {
    margin: 50px 10px;
  }
}
